@charset "utf-8";
/* CSS Document */

*{
	font-size:12px;
	
}

body {
margin : 0;
padding: 0;
background:#DDFFE0;
}

/* unvisited link */
a:link {
    color:#000080;
}

/* visited link */
a:visited {
    color: #808080;
}

/* mouse over link */
a:hover {
    color: #808080;
}

/* selected link */
a:active {
    color: #0000ff;
} 


a { color:#006;
}

#container {
width : 800px;
margin : auto;
padding : 0 0 100px 0;
position : relative;

}

#pageHeader {
background : #FFF url(imagenes/educerecabecera.jpg) no-repeat center top;
border-bottom : 0;
width : 800px;
height : 0px;
margin: 0;
padding: 131px 0 0 0;
border-bottom: #46469c solid 3px;
}

#pageConte {
padding: 5px;
width: 455px;
height: auto ;
float: left;
font-family:Verdana, Geneva, sans-serif;
/*background:#000;*/
}
#pageContehome {
padding: 5px;
width: 790px;
height: auto;
float: left;
font-family:Verdana, Geneva, sans-serif;
/*background:#000;*/
}

#pageConte p {
	color: #4a4949;
	font-size: 11px;
}
#pageConte li {
	color: #4a4949;
	font-size: 11px;
}

#pageConte h2 {
	color: #4a4949;
}

#pageConte a {
	color: #c4b9a5;
}
#pageRight{
	width: 143px;
	height: 600px;
	float: right;
	/*background: #999;*/
	}
	
#footer{
width: 800px;
clear:both;
border: 0;
text-align: center;
background-color:#e8ede7;
border-top: #46469c solid 3px;
}

#footer p {
	color: #432d24;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;	
}


